.Container {
    height: 600px;
    width: 430px;
    margin: auto;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 60px;
}

.city-search{
    height: 40px;
    width: 200px;
    border-radius: 40px;
    background-color: white;
    color: black;
    border: none;
    outline: none;
    padding-left: 30px;
    font-weight: 400;
    font-size: 15px;
}

.search-icon{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-icon img{
    height: 20px;
    width: 20px;
}

.weather-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-img img{
    margin-top: 2rem;
    height: 180px;
}

.tempreature{
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.weather-details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 2rem;
}

.element{
    display: flex;
    gap: 1rem;
}